.dropdown-menu {
	width: 50px;
}

.form {
	width: 30%;
}

h1, h2, h3, .form-label {
	color: #ffffff;
}

.thead {
	font-size: 20px;
}

.table-bordered {
	border-radius: 10px;
}

h1 {
	font-size: 3em;
}

label {
	color: #b20838;
}

.panel-default > .panel-heading {
	color: #b20838;
}

